<!doctype html>
<div class="text-center1 av1">
    <div class="row k">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <ul class="list">
          <li>
            <h4>Links</h4>
          </li>
          <br>
          <li>
            <p>Overtake company Inc
              JC Main Road, Near Silnile tower
              Pin-21542 NewYork US.</p>
          </li>
          <br>
          <li>
            <p> (123) 456-789 - 1255-12584
              email@domainname.com</p>
          </li>
          <br>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <ul class="list">
          <li>
            <h4>Guides</h4>
          </li>
          <br>
          <li>Getting Started</li>
          <li>Webpack</li>
          <li>Percel</li>
          <li>career</li>
          <li>contact us</li>

        </ul>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <ul class="list">
          <li>
            <h4>Latest posts</h4>
          </li><br>
          <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </li>
          <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </li>
          <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <ul class="list">
          <li>
            <h4>recent news</h4>
          </li>
          <br>
          <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </li>
          <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </li>
          <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center1 av1">
    <div class="row k1">
      <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
        <p>© Overtake 2018 All right reserved. By WebThemez</p>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
        <p>© Overtake 2018 All right reserved. By WebThemez</p>
      </div>
    </div>
  </div>


